.cases {
  background: #000;
  color: #fff;
  padding: 240px 0 80px;

  &__title {
    font-size: 96px;
    font-weight: 600;
    margin-bottom: 43px;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }
}

.case {
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &__header {
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: 600;
    color: #2c2c2c;
    border-top: 1px solid #2c2c2c;
    transition: all 0.3s ease;
		max-height: inherit;
  }

  &__img {
    border-radius: 99px;
    overflow: hidden;
    padding: 8px;
    border: 1px solid #171717;
    width: 100%;
    transition: transform 0.3s ease;
  }

  &__name {
    width: 100%;
    max-width: 440px;
    font-size: 48px;
    font-weight: 500;
    transition: margin-bottom 0.3s ease;
  }

  &__tag {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(12px);
    border-radius: 99px;
    width: 140px;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: flex-start;
    gap: 40px;
    border-top: 1px solid #2c2c2c;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.4s ease-in-out;
  }

  &__details {}

  &__row {
    &:not(:last-child) {
      margin-bottom: 34px;
    }
  }

  &__label {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #727272;
    margin-bottom: 4px;
  }

  &__value {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #ffffff;
  }

  &__info {
    flex: 1;
    font-size: 14px;
    color: #ccc;

    p {
      margin-bottom: 8px;
    }
  }

  &__image {
    position: relative;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &--active {
    cursor: url('@img/button.png') 16 16, auto;

    .case__header {
      opacity: 0;
      max-height: 0;
			padding-block: 0;
    }

    .case__content {
      padding: 18px 0;
      opacity: 1;
      max-height: 1000px;
      transform: translateY(0);
      pointer-events: auto;
    }

    .case__name {
      margin-bottom: 70px;
    }
  }

  // Dynamic background images by nth-child
  &:first-child {
    .case__img {
      background: url('@img/work4.png') no-repeat center / cover;
    }
  }

  &:nth-child(2) {
    .case__img {
      background: url('@img/work1.png') no-repeat center / cover;
    }
  }

  &:nth-child(3) {
    .case__img {
      background: url('@img/work3.png') no-repeat center / cover;
    }
  }

  &:nth-child(4) {
    .case__img {
      background: url('@img/work4.png') no-repeat center / cover;
    }
  }

  &:last-child {
    .case__img {
      background: url('@img/work5.png') no-repeat center / cover;
    }
  }
}
