.hero {
	padding-top: 108px;
	padding-bottom: 40px;
	background-color: #000;
	color: #fff;
	position: relative;
	overflow: hidden;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 64.78%, #000000 100%), url("@img/hero.png") no-repeat center / cover;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100vh;
	}


	&__title {
		font-size: 86px;
    font-weight: 600;
    line-height: 0.96;
    letter-spacing: 5.4px;
    max-width: 887px;
    margin-top: 118px;
    padding-left: 111px;
		margin-bottom: 136px;

		span {
			
			color: #00E56D; 
		}

		
	}


	&__info {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		

		@media (max-width: 768px) {
			flex-direction: column;
			align-items: center;
			text-align: center;
			gap: 20px;
		}
	}

	&__text {
		max-width: 480px;
		font-size: 16px;
		line-height: 1.2;
		font-weight: 500;
		color: #fff;
	}
}
