.integrator {
	background-color: #000;
	color: #fff;
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;

	&__group {
		position: absolute;
		width: 100%;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		text-align: center;
		transition: opacity 0.3s ease;

		// input-группа по умолчанию видна
		&--input {
			z-index: 1;
			opacity: 1;
		}

		// output-группа скрыта вначале
		&--output {
			z-index: 0;
			opacity: 0;
		}
	}

	&__title {
		font-size: 48px;
		font-weight: 700;
		margin-bottom: 60px;
		// opacity: 0;
		transform: translateY(60px);
	}

	&__cards {
		display: flex;
		justify-content: center;
		gap: 40px;
		flex-wrap: wrap;
	}

	&__card {
		background-color: #111;
		padding: 20px;
		border-radius: 12px;
		text-align: center;
		width: 120px;
		// opacity: 0;
		transform: translateY(60px);

		img {
			width: 40px;
			height: 40px;
			margin-bottom: 12px;
		}

		span {
			display: block;
			color: #ccc;
		}
	}
}
