<header class="header">
	<div class="header__container container">
		<a href="#" class="header__logo">FOCUS REACTIVE</a>

		<nav class="header__nav nav" id="mobileMenu">
			<ul class="nav__list">
				<li class="nav__item"><a href="#" class="nav__link">Home</a></li>
				<li class="nav__item"><a href="#" class="nav__link">Services</a></li>
				<li class="nav__item"><a href="#" class="nav__link">Portfolio</a></li>
				<li class="nav__item"><a href="#" class="nav__link">About</a></li>
				<li class="nav__item"><a href="#" class="nav__link">Blog</a></li>
			</ul>
		</nav>

		<a href="#" class="header__cta button button--green">Contact Us</a>

		<!-- бургер для мобилки -->
		<button class="header__burger" id="burger">
			<span></span><span></span><span></span>
		</button>
	</div>
</header>

