@font-face {
  font-family: "InterDisplay";
  font-display: swap;
  src: url("../fonts/InterDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "InterDisplay";
  font-display: swap;
  src: url("../fonts/InterDisplay-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
/* reset.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "InterDisplay", sans-serif;
  font-weight: 500;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 40px;
}
@media (max-width: 991px) {
  .container {
    padding-inline: 24px;
    max-width: 100%;
  }
}

/* For browsers that support clamp and container queries */
@supports (font-size: clamp(1rem, 1cqi, 1rem)) {
  :root {
    --font-size-88: clamp(2.5rem, 4.68cqi + 1.4rem, 5.5rem);
  }
}
/* For browsers that don't support clamp or container queries */
@supports not (font-size: clamp(1rem, 1cqi, 1rem)) {
  :root {
    --font-size-88: 2.5rem;
  }
  @media screen and (min-width: 1400px) {
    :root {
      --font-size-88: 5.5rem;
    }
  }
}
/* For browsers that support clamp and container queries */
@supports (font-size: clamp(1rem, 1cqi, 1rem)) {
  :root {
    --font-size-16: clamp(0.88rem, 0.2cqi + 0.83rem, 1rem);
  }
}
/* For browsers that don't support clamp or container queries */
@supports not (font-size: clamp(1rem, 1cqi, 1rem)) {
  :root {
    --font-size-16: 0.88rem;
  }
  @media screen and (min-width: 1400px) {
    :root {
      --font-size-16: 1rem;
    }
  }
}
/* For browsers that support clamp and container queries */
@supports (font-size: clamp(1rem, 1cqi, 1rem)) {
  :root {
    --font-size-28: clamp(0.75rem, 1.56cqi + 0.38rem, 1.75rem);
  }
}
/* For browsers that don't support clamp or container queries */
@supports not (font-size: clamp(1rem, 1cqi, 1rem)) {
  :root {
    --font-size-28: 0.75rem;
  }
  @media screen and (min-width: 1400px) {
    :root {
      --font-size-28: 1.75rem;
    }
  }
}
/* For browsers that support clamp and container queries */
@supports (font-size: clamp(1rem, 1cqi, 1rem)) {
  :root {
    --font-size-120: clamp(3rem, 7.02cqi + 1.35rem, 7.5rem);
  }
}
/* For browsers that don't support clamp or container queries */
@supports not (font-size: clamp(1rem, 1cqi, 1rem)) {
  :root {
    --font-size-120: 3rem;
  }
  @media screen and (min-width: 1400px) {
    :root {
      --font-size-120: 7.5rem;
    }
  }
}
/* For browsers that support clamp and container queries */
@supports (font-size: clamp(1rem, 1cqi, 1rem)) {
  :root {
    --font-size-96: clamp(3rem, 4.68cqi + 1.9rem, 6rem);
  }
}
/* For browsers that don't support clamp or container queries */
@supports not (font-size: clamp(1rem, 1cqi, 1rem)) {
  :root {
    --font-size-96: 3rem;
  }
  @media screen and (min-width: 1400px) {
    :root {
      --font-size-96: 6rem;
    }
  }
}
/* For browsers that support clamp and container queries */
@supports (font-size: clamp(1rem, 1cqi, 1rem)) {
  :root {
    --font-size-48: clamp(1.5rem, 2.34cqi + 0.95rem, 3rem);
  }
}
/* For browsers that don't support clamp or container queries */
@supports not (font-size: clamp(1rem, 1cqi, 1rem)) {
  :root {
    --font-size-48: 1.5rem;
  }
  @media screen and (min-width: 1400px) {
    :root {
      --font-size-48: 3rem;
    }
  }
}
/* For browsers that support clamp and container queries */
@supports (font-size: clamp(1rem, 1cqi, 1rem)) {
  :root {
    --font-size-10: clamp(0.63rem, 0.59cqi + 0.49rem, 1rem);
  }
}
/* For browsers that don't support clamp or container queries */
@supports not (font-size: clamp(1rem, 1cqi, 1rem)) {
  :root {
    --font-size-10: 0.63rem;
  }
  @media screen and (min-width: 1400px) {
    :root {
      --font-size-10: 1rem;
    }
  }
}
/* For browsers that support clamp and container queries */
@supports (font-size: clamp(1rem, 1cqi, 1rem)) {
  :root {
    --font-size-24: clamp(0.63rem, 1.37cqi + 0.3rem, 1.5rem);
  }
}
/* For browsers that don't support clamp or container queries */
@supports not (font-size: clamp(1rem, 1cqi, 1rem)) {
  :root {
    --font-size-24: 0.63rem;
  }
  @media screen and (min-width: 1400px) {
    :root {
      --font-size-24: 1.5rem;
    }
  }
}
/* For browsers that support clamp and container queries */
@supports (font-size: clamp(1rem, 1cqi, 1rem)) {
  :root {
    --font-size-14: clamp(0.5rem, 0.59cqi + 0.36rem, 0.88rem);
  }
}
/* For browsers that don't support clamp or container queries */
@supports not (font-size: clamp(1rem, 1cqi, 1rem)) {
  :root {
    --font-size-14: 0.5rem;
  }
  @media screen and (min-width: 1400px) {
    :root {
      --font-size-14: 0.88rem;
    }
  }
}
.burger {
  height: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 15;
}
.burger__inner span, .burger__inner::before, .burger__inner::after {
  content: "";
  transition: all 0.3s ease 0s;
  right: 0px;
  position: absolute;
  height: 3px;
  background-color: #333;
}
.burger__inner span {
  width: 21px;
}
.burger__inner::before {
  width: 30px;
  top: 0px;
}
.burger__inner::after {
  width: 13px;
  bottom: 0px;
}
.burger__inner span {
  top: calc(50% - 1px);
}
.open .burger__inner span {
  transform: scale(0);
}
.open .burger__inner::before {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.open .burger__inner::after {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
  width: 30px;
}

.btn {
  display: inline-block;
  padding: 12px 30px;
  border-radius: 32px;
  font-weight: 500;
  text-align: center;
  transition: 0.3s;
  text-decoration: none;
  text-transform: capitalize;
  color: #000000;
  font-size: 16px;
  line-height: 19px;
}
.btn--green {
  background-color: #00e56d;
  color: #000;
}
.btn--green:hover {
  background-color: #00e56d;
}

.header {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  background-color: transparent;
  padding-block: 32px;
  z-index: 10;
}
@media (max-width: 991px) {
  .header {
    padding-block: 26px;
  }
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  position: relative;
}
.header__btn {
  display: none;
}
@media (min-width: 992px) {
  .header__btn {
    display: inline-block;
  }
}
.header__burger {
  display: none;
  flex-direction: column;
  gap: 8px;
}
.header__burger span {
  display: block;
  width: 48px;
  height: 2px;
  background-color: #fff;
}
@media (max-width: 991px) {
  .header__burger {
    display: flex;
  }
}

.nav__list {
  display: flex;
}
.nav__item:not(:last-child) {
  margin-right: 24px;
}
.nav__link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}
.nav__link:hover {
  color: #00ff84;
}
@media (max-width: 991px) {
  .nav {
    display: none;
  }
}

@media (max-width: 991px) {
  .header__nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.4s ease;
    z-index: 9;
    flex-direction: column;
  }
  .header__nav .nav__list {
    flex-direction: column;
    gap: 32px;
    font-size: 24px;
  }
  .header__nav.is-active {
    transform: translateX(0);
  }
}

.header__burger {
  cursor: pointer;
  background-color: transparent;
  border: none;
  z-index: 10;
}
.header__burger span {
  transition: 0.3s;
}
.header__burger.is-active span:nth-child(1) {
  transform: rotate(45deg) translateY(6px);
  width: 30px;
}
.header__burger.is-active span:nth-child(2) {
  transform: rotate(-45deg) translateY(-6px);
  width: 30px;
}

.header.open .menu {
  transition: all 0.8s ease-out 0.2s;
  left: 0;
}

@media (max-width: 1023px) {
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #F9F9F9;
    transition: all 0.8s ease-out 0.2s;
  }
}
.rating {
  max-width: 50%;
}
@media (max-width: 991px) {
  .rating {
    max-width: inherit;
  }
}
.rating__platform {
  width: 100%;
  margin-bottom: 10px;
}
.rating__wrap {
  display: flex;
  align-items: center;
}
.rating__stars {
  color: #00E56D;
}
.rating__score {
  font-size: 12px;
  color: #fff;
  margin-left: 4px;
}

.socials {
  display: flex;
  gap: 8px;
}
@media (max-width: 991px) {
  .socials {
    gap: 4px;
  }
}
.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
}
.socials__link:hover {
  background-color: #fff;
  color: #000;
}

.cases {
  background: #000;
  color: #fff;
  padding: 240px 0 80px;
  position: relative;
}
@media (max-width: 991px) {
  .cases {
    padding-block: 12px;
  }
}
.cases__title {
  font-size: var(--font-size-96);
  font-weight: 600;
  margin-bottom: 43px;
  line-height: 1;
}
@media (max-width: 991px) {
  .cases__title {
    max-width: 90%;
    margin-bottom: 14px;
  }
}
.cases__list {
  display: flex;
  flex-direction: column;
}

.case {
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.case__header {
  display: flex;
  gap: 24px;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid #2c2c2c;
  transition: all 0.3s ease;
  max-height: 120px;
}
@media (max-width: 991px) {
  .case__header {
    align-items: inherit;
  }
}
.case__img {
  border-radius: 99px;
  overflow: hidden;
  padding: 8px;
  border: 1px solid #171717;
  width: 100%;
  transition: transform 0.3s ease;
}
@media (max-width: 991px) {
  .case__img {
    border: none;
    padding: 0;
    overflow: visible;
    width: inherit;
  }
}
.case__name {
  width: 100%;
  max-width: 440px;
  font-size: var(--font-size-48);
  font-weight: 500;
  transition: margin-bottom 0.3s ease;
}
.case__tag {
  font-size: var(--font-size-10);
  font-weight: 500;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(12px);
  border-radius: 99px;
  width: 140px;
}
@media (max-width: 991px) {
  .case__tag {
    background: rgba(255, 255, 255, 0.16);
    width: inherit;
    display: inline;
    padding: 5px 14px;
  }
}
.case__content {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: flex-start;
  gap: 40px;
  border-top: 1px solid #2c2c2c;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.4s ease-in-out;
}
@media (max-width: 991px) {
  .case__content {
    grid-template-columns: 1fr;
    gap: 14px;
  }
}
@media (max-width: 991px) {
  .case__details {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 991px) {
  .case__row {
    width: 100px;
    max-width: 100%;
  }
}
.case__row:not(:last-child) {
  margin-bottom: 34px;
}
@media (max-width: 991px) {
  .case__row:not(:last-child) {
    margin-bottom: 0;
  }
}
.case__label {
  font-weight: 500;
  font-size: var(--font-size-14);
  line-height: 120%;
  color: #727272;
  margin-bottom: 4px;
}
.case__value {
  font-weight: 500;
  font-size: var(--font-size-24);
  line-height: 120%;
  color: #fff;
}
.case__image {
  position: relative;
}
@media (max-width: 991px) {
  .case__image {
    border-radius: 12px;
    overflow: hidden;
  }
}
.case__image img {
  width: 100%;
  height: auto;
  display: block;
}
.case--active {
  cursor: url("../images/button.png") 16 16, auto;
}
.case--active .case__header {
  opacity: 0;
  max-height: 0;
  padding-block: 0;
}
@media (max-width: 991px) {
  .case--active .case__header {
    opacity: 1;
    max-height: inherit;
    padding-top: 16px;
  }
}
.case--active .case__content {
  padding: 18px 0;
  opacity: 1;
  max-height: 1000px;
  transform: translateY(0);
  pointer-events: auto;
}
@media (max-width: 991px) {
  .case--active .case__content {
    border: none;
    padding-top: 12px;
  }
}
@media (max-width: 991px) {
  .case--active .case__content .case__name {
    display: none;
    padding-block: 12px;
  }
}
.case--active .case__name {
  margin-bottom: 70px;
}
@media (max-width: 991px) {
  .case--active .case__name {
    margin-bottom: 0;
  }
}
.case:first-child .case__img {
  background: url("../images/work4.png") no-repeat center/cover;
}
@media (max-width: 991px) {
  .case:first-child .case__img {
    background: none;
  }
}
.case:nth-child(2) .case__img {
  background: url("../images/work1.png") no-repeat center/cover;
}
@media (max-width: 991px) {
  .case:nth-child(2) .case__img {
    background: none;
  }
}
.case:nth-child(3) .case__img {
  background: url("../images/work3.png") no-repeat center/cover;
}
@media (max-width: 991px) {
  .case:nth-child(3) .case__img {
    background: none;
  }
}
.case:nth-child(4) .case__img {
  background: url("../images/work4.png") no-repeat center/cover;
}
@media (max-width: 991px) {
  .case:nth-child(4) .case__img {
    background: none;
  }
}
.case:last-child .case__img {
  background: url("../images/work5.png") no-repeat center/cover;
}
@media (max-width: 991px) {
  .case:last-child .case__img {
    background: none;
  }
}
@media (max-width: 991px) {
  .case__info {
    order: 1;
  }
}

.hero {
  padding-top: 108px;
  padding-bottom: 40px;
  background-color: #000;
  color: #fff;
  position: relative;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 64.78%, #000000 100%), url("../images/hero.png") no-repeat center/cover;
}
@media (max-width: 991px) {
  .hero {
    padding-top: 90px;
  }
}
.hero__title {
  font-size: var(--font-size-88);
  font-weight: 600;
  line-height: 0.96;
  letter-spacing: -2.6px;
  max-width: 900px;
  width: 100%;
  margin-top: 120px;
  padding-left: 110px;
  margin-bottom: 150px;
}
.hero__title span {
  color: #00E56D;
}
@media (max-width: 991px) {
  .hero__title {
    padding-left: 0;
    letter-spacing: -0.8px;
    margin-bottom: 15px;
  }
}
.hero__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
@media (max-width: 991px) {
  .hero__wrap {
    width: inherit;
  }
}
.hero__text {
  font-size: var(--font-size-16);
  line-height: 1.2;
  font-weight: 500;
  color: #fff;
}
.hero__text--mob {
  display: none;
}
@media (max-width: 991px) {
  .hero__text {
    display: block;
    margin-bottom: 140px;
  }
}
@media (max-width: 991px) {
  .hero__text--desctop {
    display: none;
  }
}

.integrator {
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
@media (max-width: 991px) {
  .integrator {
    min-height: inherit;
    padding-inline: 0;
    padding-block: 84px;
  }
}
@media (max-width: 991px) {
  .integrator__desctop {
    display: none;
  }
}
.integrator__mobile {
  display: none;
}
@media (max-width: 991px) {
  .integrator__mobile {
    display: block;
  }
}
.integrator__title {
  font-size: var(--font-size-120);
  font-weight: 600;
  margin-bottom: 100px;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%) translateY(40px);
  opacity: 0;
  transition: color 0.3s;
  z-index: 2;
  width: 100%;
}
.integrator__title.title--2 {
  color: #00e56d;
}
.integrator__title--mobile {
  font-size: var(--font-size-120);
  font-weight: 600;
  line-height: 1;
  margin-bottom: 50px;
}
.integrator__title--mobile.green {
  color: #00e56d;
  margin-bottom: 80px;
}
.integrator__cards {
  display: flex;
  gap: 64px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30%;
}
.integrator__card {
  width: 240px;
  height: 240px;
  perspective: 1000px;
  position: relative;
}
.integrator__card:first-child {
  top: -26%;
}
.integrator__card:last-child {
  top: 26%;
}
.integrator__card .card__inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s ease;
  position: relative;
}
.integrator__card .card__inner::before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 200px;
  background-color: #2c2c2c;
  left: 50%;
  transform: translateY(-50%);
  top: -40%;
}
.integrator__card .card__front,
.integrator__card .card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border: 1px solid #2c2c2c;
  border-radius: 24px;
  padding-top: 4px;
}
.integrator__card .card__back {
  transform: rotateY(180deg);
}
.integrator__card img {
  width: 120px;
  height: 120px;
  margin-bottom: 18px;
}
.integrator__card span {
  font-size: var(--font-size-28);
  color: #fff;
  font-weight: 500;
}
.integrator__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 13px;
  margin-bottom: 58px;
}
.integrator__box {
  width: 100px;
  height: 100px;
  border: 1px solid #2c2c2c;
  border-radius: 10px;
  padding-top: 14px;
  position: relative;
  text-align: center;
}
.integrator__box span {
  font-size: var(--font-size-28);
}
.integrator__box:nth-child(2) {
  bottom: -20px;
}
.integrator__box:last-child {
  bottom: -40px;
}
.integrator__box img {
  width: 50px;
  height: 50px;
  margin-inline: auto;
  margin-bottom: 4px;
}
.integrator__box::before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 64px;
  background-color: #2c2c2c;
  left: 50%;
  transform: translateY(-50%);
  top: -40%;
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIkQ6LyVEMCU5NSVEMCVCMyVEMCVCRSVEMSU4MC8lRDAlOTIlRDAlQjUlRDElODAlRDElODElRDElODIlRDAlQkElRDAlQjAvUHJvamVjdHMvdmFyaW91cy9mb2N1cy9zcmMvc2Nzcy9iYXNlL19mb250cy5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBIiwiZmlsZSI6InRlbXBsYXRlX3N0eWxlcy5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyJAZm9udC1mYWNlIHtcclxuXHRmb250LWZhbWlseTogJ0ludGVyRGlzcGxheSc7XHJcblx0Zm9udC1kaXNwbGF5OiBzd2FwO1xyXG5cdHNyYzogdXJsKFwiLi4vZm9udHMvSW50ZXJEaXNwbGF5LU1lZGl1bS53b2ZmXCIpIGZvcm1hdChcIndvZmZcIik7XHJcblx0XHRmb250LXdlaWdodDogNTAwO1xyXG5cdGZvbnQtc3R5bGU6IG5vcm1hbDtcclxufVxyXG5cclxuQGZvbnQtZmFjZSB7XHJcblx0Zm9udC1mYW1pbHk6ICdJbnRlckRpc3BsYXknO1xyXG5cdGZvbnQtZGlzcGxheTogc3dhcDtcclxuXHRzcmM6IHVybChcIi4uL2ZvbnRzL0ludGVyRGlzcGxheS1TZW1pQm9sZC53b2ZmXCIpIGZvcm1hdChcIndvZmZcIik7XHJcblx0XHRmb250LXdlaWdodDogNjAwO1xyXG5cdGZvbnQtc3R5bGU6IG5vcm1hbDtcclxufVxyXG5cclxuIl19 */
